* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section#home {
  align-items: center;
  padding-bottom: 22rem;
}

section#about {
  align-items: center;
  padding-top: 3rem;
}

section#contact {
  align-items: center;
  padding-bottom: 6rem;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

/* Section Images */
section#home {
  background: url('https://avante.biz/wp-content/uploads/Pictures-Of-The-Ocean-Wallpapers/Pictures-Of-The-Ocean-Wallpapers-029.jpg') no-repeat center center/cover;
  ;
}

section#about {
  background: url('https://images8.alphacoders.com/822/thumb-1920-822993.jpg') no-repeat center center/cover;
  ;
}

section#service {
  background: url('https://images.wallpaperscraft.com/image/ocean_water_underwater_126683_1600x900.jpg') no-repeat center center/cover;
  ;
}

section#contact {
  background: url('https://wallpaperbro.com/img/50931.jpg') no-repeat center center/cover;
  ;
}